*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
   background-image: url("https://i.pinimg.com/736x/68/4c/f8/684cf8c1fa332b95c20757fa8b6dc83b.jpg");
   background-repeat: no-repeat;
       background-size: cover;
}

h2{
    text-align: center;
    color: white;
    font-size: 6rem;
    text-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.key{
    width: 130px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.174);
   color: whitesmoke;
    box-shadow: 0 8px 20px rgba(11, 11, 11, 0.3);
    transition: 0.3s;
}

.key:hover{
    transform: translateY(-8px);
    background: rgba(255,255,255,0.25);
}

kbd{
    font-size: 3rem;
    font-weight: bold;
}

span{
    margin-top: 8px;
    font-size: 1rem;
    color: #8b457e;
    font-family: cursive;
}
.playing{
    transform: scale(1.1);
    border: 3px solid #847a59;
    box-shadow: 0 0 20px #b6a154;
}

